header {
  background-color: white;
  color: #244751;
}

body, input {
  /* font-family: 'Roboto Condensed', sans-serif; */
  /* font-family: 'Akaya Telivigala', cursive; */
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: #244751;
  background-color: #F0F2F5;
  
}

body {
  background-color: #F0F2F5;
}

main {
  margin-top: 2rem;
  /* background-color: white; */
  padding: 16px;
}

.finstagram-post {
  border-radius: 8px;
  margin-bottom: 2rem;
  /* padding: 0 16px; */
}