<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <link rel="stylesheet" href="../../../stylesheets/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300"> -->
	<link rel="stylesheet" href="../../../stylesheets/lib.css">
    <title>Finstagram</title>
  </head>

  <body>

	<header>
        <div class="container">        
            <h1>Finstagram</h1>
        </div>
    </header>
    
    <main role="main">

        <article class="finstagram-post">
            <div class="container"style="margin-top: 1rem;"> 
                <div class="user-info">
                    <img class="avator" src="http://naserca.com/images/sharky_j.jpg" alt="sharky_j">
                    <h2>sharky_j</h2>
                    <h3>15 minutes ago</h3>
                </div>
            </div> 
            <a class="photo" href="http://naserca.com/images/shark.png" target="_blank">
                <img src="http://naserca.com/images/shark.png" alt="post from sharky_j">
            </a>
            <div class="container"> 
                <div class="actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li><p><span class="bold">sharky_j:</span> Out for the long weekend... too embarrassed to show y'all the beach bod!</p></li>
                </ul>
            </div>
        </article>
        
        <article class="finstagram-post">
            <div class="container"style="margin-top: 1rem;"> 
                <div class="user-info">
                    <img class="avator" src="http://naserca.com/images/kirk_whalum.jpg" alt="kirk_whalum">
                    <h2>kirk_whalum</h2>
                    <h3>1 hour ago</h3>
                </div>
            </div> 
            <a class="photo" href="http://naserca.com/images/whale.jpg" target="_blank">
                <img src="http://naserca.com/images/whale.jpg" alt="finstagram post from kirk_whalum">
            </a>
            <div class="container"> 
                <div class="actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li><p><span class="bold">kirk_whalum:</span> #weekendvibes</p></li>
                </ul>
            </div>
        </article>

        <article class="finstagram-post">
            <div class="container"style="margin-top: 1rem;"> 
                <div class="user-info">
                    <img class="avator" src="http://naserca.com/images/marlin_peppa.jpg" alt="marlin_peppa">
                    <h2>marlin_peppa</h2>
                    <h3>3 hours ago</h3>
                </div>
            </div> 
            <a class="photo" href="http://naserca.com/images/marlin.jpg" target="finstagram post from marlin_peppa">
                <img src="http://naserca.com/images/marlin.jpg" alt="finstagram post from marlin_peppa">
            </a>
            <div class="container"> 
                <div class="actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li><p><span class="bold">marlin_peppa:</span> lunchtime! ;)</p></li>
                </ul>
            </div>
        </article>

    </main>

  </body>
</html>