<article class="finstagram-post">
    <div class="container mt-1">

        <h2 class="title">Login to Finstagram</h2>
        
        <p style="color: red;"><%= @error_message if @error_message %></p>

        <form action="/login" method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
            </div>
            <div class="form-group">
                <button class="button" type="submit">Login</button>
            </div>
        </form>

    </div>
</article>

